{{#if groupLabel}}
<h3 class="element-group-label">
  {{groupLabel}}
  {{#if required}}
    <span class="text-red">*</span>
  {{/if}}
</h3>
{{/if}}
{{#each checkboxes as |option|}}
  {{shared/form/check-box
    checked=option.checked
    disabled=option.disabled
    label=option.label
    update=(action 'update')
    useButtonStyle=useButtonStyle
  }}
{{/each}}
{{error-messages/inline errors=errors}}
