{{one-way-checkbox
  checked=checked
  disabled=disabled
  update=update
  name=name
  required=required
  id=inputId
}}
<label for="{{inputId}}">{{label}}</label>
{{error-messages/inline errors=errors}}