{{one-way-radio
  name=name
  value=value
  option=option
  disabled=isDisabled
  id=inputId
  update=update
  class=class
}}
<label for="{{inputId}}">{{label}}</label>
{{error-messages/inline errors=errors}}
